# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.*
crash.log
*.tfvars

# Python/Ansible cache
__pycache__/
*.retry

# Keys
Network.pem
*.pem

# OS / editor
.DS_Store
.vscode/
.idea/


echo "# terraform-ansible-docker-nginx" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/ashan280/terraform-ansible-docker-nginx.git
git push -u origin main